body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Libre Baskerville', serif;
    color: aliceblue;
}
.poster{
    width: 50%;
    margin-top: 50%;
    margin-left: 25%;
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
.motivational-imgg{
    border: 5px solid white;
    width: 95%;
}
p{
    color: aliceblue;
}